.Header {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.Header h1 {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 2px solid gold;
  padding: 10px;
}

.Header button {
  size: 30px;
  width: 60px;
  height: 40px;
  justify-content: center;
  margin: 10px;
}